<ion-header [translucent]="true">
  <ion-toolbar mode="md" class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="firts-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      FINALIZAR
    </ion-title>
    <div class="container-passed">
      <img class="load" src="assets/images/Grupo 20670(2).svg" alt="load">

    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="container-oink">
    <img class="oink" src="assets/images/OinkPolicia.svg" alt="oink">
    <div><span>ESTAS MUY CERCA DE SER PARTE DE COINK.</span><br>
      <p>Solo es necesario que leas detenidamente el contrato que se encuentra al final de esta pantalla y lo aceptes.
      </p>
    </div>
  </div>
  <div class="divider"></div>

  <div class="form-regisater">

    <div class="container-content">
      <p class="container-title">LO MÁS IMPORTANTE</p>
      <div class="text-contract">
        <span class="span-contract">Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de acuerdo con
          nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer obligaciones.<br><br>
          Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el
          mes y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura
          de un Depósito Ordinario COINK Persona Natural.<br><br> Solo puedes tener una cuenta COINK de Bajo Monto y podrás
          utilizar tu dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y
          administrar tu cuenta.<br><br> Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.<br><br></span>
      </div>
      <span class="contract-read">Lee tu contrato</span>
      <ion-list>
        <ion-item >
          <ion-label>He leído y acepto el contrato</ion-label>
          <ion-checkbox color="secondary" [(ngModel)]="checked" slot="start"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <div class="container-buttons">
      <button [ngClass]="{'button-register': checked, 'button-disabled': !checked}" [disabled]="!checked" (click)="continue()"
         type="button">ACEPTAR</button>
    </div>

  </div>


</ion-content>