.text-contract {
    .span-contract{
        color: #323232;
        font-size: 13px;
    }

    
}

.contract-read{
    text-decoration: underline;
    cursor: pointer;
    color: #004B40;
    font-weight: bold;
}