<ion-header [translucent]="true">
  <ion-toolbar mode="md" class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="firts-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      LOG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Teléfono: {{data.phone}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Tipo de documento: {{data.data.documentType}}</p>
      <p>Número de documento: {{data.data.documentNumber}}</p>
      <p>Fecha de expedición: {{data.data.dateExpedition}}</p>
      <p>Fecha de nacimiento: {{data.data.birthday}}</p> 
      <p>Genero: {{data.data.gender}}</p>
      <p>Correo electronico: {{data.data.email}}</p>
      <p>Pin: {{data.data.pin}}</p>
    </ion-card-content>
  </ion-card>


</ion-content>
